@charset "utf-8";

/*
font-family: 'Montserrat', sans-serif;
*/


/* 공통 */
#sub .box1 {padding-top: 120px;}
#sub .box:last-child {padding-bottom: 140px}
#sub .inner_bx {max-width: 1200px; width: calc(100% - 30px); margin: 0 auto; box-sizing: border-box;}
#sub .inner_bx.type2 {max-width: 1440px;}
#sub .ttl_01 {text-align: center; margin-bottom: 60px;}
#sub .ttl_01 strong span {display: inline-block; font-family: 'Montserrat', sans-serif; font-size: 15px; color: #f49b00; letter-spacing: 0; line-height: 17px; border-bottom: 1px solid #f6b053; margin-bottom: 10px; font-weight: 400;}
#sub .ttl_01 strong p {display: block; font-size: 42px; color: #282828; font-weight: 700; letter-spacing: -0.05em; word-break: keep-all; line-height: 50px;}

@-webkit-keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}



/* 글로리 소개 */
#intro .box1 {padding-bottom: 120px;}
#intro .box1 .txt1 {text-align: center; font-size: 32px; color: #333333; line-height: 54px; color: #333333; font-weight: 350; word-break: keep-all; letter-spacing: -0.05em; margin-bottom: 59px;}
#intro .box1 .txt1 span {display: inline-block; position: relative; color: #282828; font-weight: 700; z-index: 1;}
#intro .box1 .txt1 span::before {content: ''; width: 100%;  height: 16px; background-color: #fcedb2; position: absolute; bottom: 6px; left: 0; z-index: -1;}
#intro .box1 .con_bx {display: flex; flex-flow: wrap; background: url(../images/sub/intro_box1_logo.png) no-repeat center;}
#intro .box1 .con_bx .img_bx {width: calc(50% - 40px); margin-right: 80px; box-sizing: border-box;}
#intro .box1 .con_bx .img_bx .img_w {padding-bottom: 116.786%; position: relative; overflow: hidden; box-shadow: 24px 24px 56px 0px rgba(16,18,19,0.08);}
#intro .box1 .con_bx .img_bx .img_w  div {background-size: cover!important; background-repeat: no-repeat!important; background-position: center!important; position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
#intro .box1 .con_bx .txt_bx {width: calc(50% - 40px); box-sizing: border-box; display:flex; justify-content:center; align-items:center; table-layout:fixed;}
#intro .box1 .con_bx .txt_bx .txt_w {width: 100%;}
#intro .box1 .con_bx .txt_bx p {font-size: 16px; color: #666666; line-height: 32px; letter-spacing: -0.05em; word-break: keep-all; margin-top: 40px;}
#intro .box1 .con_bx .txt_bx p:first-child {margin-top: 0;}
#intro .box1 .con_bx .txt_bx p.btm_txt {font-size: 18px; color: #333333; font-weight: 400; margin-top: 48px;}
#intro .box1 .con_bx .txt_bx p.btm_txt img {vertical-align: middle; margin-left: 19px;}

#intro .box2 {position: relative; padding: 169px 0 173px!important; overflow: hidden;}
#intro .box2 .bg {background: url(../images/sub/intro_box2_bg.jpg) no-repeat center; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-size: cover;}
#intro .box2 .bg_txt {position: absolute; z-index: 1; left: 0; bottom: 0; height: 233px; overflow: hidden; white-space: nowrap; display: flex; animation: scrollText 50s infinite linear; font-family: 'Montserrat', sans-serif; font-size: 320px; color: rgba(0,0,0,0.05); font-weight: 800; line-height: 284px;}
#intro .box2 .bg_txt span {padding-right: 50px;}
#intro .box2 .bg_txt span.m_bx {display: none;}

#intro .box2 .txt_bx {position: relative; z-index: 2; text-align: center;}
#intro .box2 .txt_bx strong {display: block; font-family: 'Montserrat', sans-serif; font-size: 64px; color: #000000; font-weight: 800; word-break: keep-all; margin-bottom: 22px;}
#intro .box2 .txt_bx p {display: block; font-size: 18px; line-height: 32px; color: #111111; font-weight: 350; letter-spacing: -0.05em; word-break: keep-all;}

#intro .box3 {padding: 120px 0!important; background-color: #f4f8fb;}
#intro .box3 .con_bx {border-top: 3px solid #111111;}
#intro .box3 .con_bx .con_w {border-bottom: 1px solid #d4d9dc; display: flex; flex-flow: wrap; padding: 45px 0 46px;}
#intro .box3 .con_bx .con_w:last-child {border-bottom: none; padding-bottom: 0;}
#intro .box3 .con_bx .con_w .ttl {width: 280px; box-sizing: border-box; padding-right: 30px;}
#intro .box3 .con_bx .con_w .ttl strong {display: block; font-size: 32px; color: #282828; font-weight: 700; letter-spacing: -0.05em; word-break: keep-all;}
#intro .box3 .con_bx .con_w .ttl p {font-family: 'Montserrat', sans-serif; font-size: 16px; color: rgba(40,40,40,0.5); word-break: keep-all; margin-top: 5px;}
#intro .box3 .con_bx .con_w .txt_bx {width: calc(100% - 280px); box-sizing: border-box;}
#intro .box3 .con_bx .con_w .txt_bx p {font-size: 16px; color: #666666; line-height: 32px; letter-spacing: -0.05em; word-break: keep-all; font-weight: 350; margin-bottom: 30px;}
#intro .box3 .con_bx .con_w .txt_bx p:last-child {margin-bottom: 0;}



/* 글로리 특별함 */
#speciality .box1 {position: relative; padding-bottom: 120px;}
#speciality .box1 .bg {position: absolute; width: 100%; height: calc(100% - 550px); bottom: 0; left: 0; overflow: hidden;}
#speciality .box1 .bg div {z-index: -1; background: url(../images/sub/speciality_box1_bg1.jpg) no-repeat center; background-size: cover!important; background-repeat: no-repeat!important; background-position: center!important; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#speciality .box1 .txt1 {position: relative; overflow: hidden;}
#speciality .box1 .txt_bx1_w {position: relative;}
#speciality .box1 .txt_bx1_w::before {content: ''; width: 1px; height: 180px; background-color: #f4c400; position: absolute; left: 50%; bottom: -90px; z-index: 2;}
#speciality .box1 .txt_bx1 {height: 560px; overflow: hidden; display:flex; justify-content:center; align-items:center; table-layout:fixed; position: relative;}
#speciality .box1 .txt_bx1 .bg2 {position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: url(../images/sub/speciality_box1_bg2.jpg) no-repeat center; background-size: cover!important; background-position: center!important; background-repeat: no-repeat!important;}
#speciality .box1 .txt_bx1 .bt_txt {position: absolute; left: 0; bottom: 0; z-index: 1; height: 223px; font-family: 'Montserrat', sans-serif; font-size: 320px; color: rgba(255,255,255,0.05); font-weight: 800; line-height: 247px; white-space: nowrap; display: flex; animation: scrollText 50s infinite linear;}
#speciality .box1 .txt_bx1 .bt_txt span {padding-right: 50px;}
#speciality .box1 .txt_bx1 .txt_w {width: 100%; text-align: center; position: relative; z-index: 3;}
#speciality .box1 .txt_bx1 .txt_w strong {font-family: 'Montserrat', sans-serif; text-transform: uppercase; display: block; font-size: 52px; color: #ffffff; font-weight: 800; margin-bottom: 22px;}
#speciality .box1 .txt_bx1 .txt_w .txt1 {font-size: 26px; color: #ffffff; line-height: 44px; letter-spacing: -0.05em; word-break: keep-all; font-weight: 350; margin-bottom: 22px;}
#speciality .box1 .txt_bx1 .txt_w .txt2 {font-size: 18px; color: #a2a2a2; letter-spacing: -0.05; word-break: keep-all; font-weight: 350;}
#speciality .box1 .txt_bx2 {position: relative; z-index: 1; max-width: 1200px; margin: 0 auto; padding-top: 142px;}
#speciality .box1 .txt_bx2 ul li {position: relative; padding-left: 12px; font-size: 16px; color: #444444; line-height: 30px; letter-spacing: -0.05em; word-break: keep-all; font-weight: 350; margin-bottom: 30px;}
#speciality .box1 .txt_bx2 ul li:last-child {margin-bottom: 0;}
#speciality .box1 .txt_bx2 ul li::before {content: ''; width: 4px; height: 4px; background-color: #f46d00; position: absolute; left: 0; top: 13px; border-radius: 50%;}
#speciality .box1 .txt_bx2 p {font-size: 15px; color: #888888; font-weight: 350; letter-spacing: -0.05em; word-break: keep-all; margin-top: 35px;}

#speciality .box2 {padding-top: 100px;}
#speciality .box2 .con_bx {border-top: 3px solid #111111;}
#speciality .box2 .con_bx .con_w {display: flex; flex-flow: wrap; border-bottom: 1px solid #e6e6e6; padding: 20px 0;}
#speciality .box2 .con_bx .icon_bx {width: 150px; height: 150px; margin-right: 40px; box-sizing: border-box;}
#speciality .box2 .con_bx .icon_bx.icon1 {background: url(../images/sub/speciality_box2_icon1.png) no-repeat center #f4c400;}
#speciality .box2 .con_bx .icon_bx.icon2 {background: url(../images/sub/speciality_box2_icon2.png) no-repeat center #021421;}
#speciality .box2 .con_bx .icon_bx.icon3 {background: url(../images/sub/speciality_box2_icon3.png) no-repeat center #b5bdc3;}
#speciality .box2 .con_bx .icon_bx.icon4 {background: url(../images/sub/speciality_box2_icon4.png) no-repeat center #273a47;}
#speciality .box2 .con_bx .txt_bx {width: calc(100% - 190px); box-sizing: border-box; display:flex; justify-content:center; align-items:center; table-layout:fixed; min-height: 150px;}
#speciality .box2 .con_bx .txt_bx .txt_w {width: 100%;}
#speciality .box2 .con_bx .txt_bx .txt_w strong {display: block; font-size: 28px; color: #282828; font-weight: 500; letter-spacing: -0.05em; word-break: keep-all;}
#speciality .box2 .con_bx .txt_bx .txt_w p {font-size: 16px; line-height: 30px; color: #666666; letter-spacing: -0.05em; font-weight: 350; word-break: keep-all; margin-top: 13px; max-width: 960px;}



/* 구성원 소개 */
#members .pop_bx {position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 100000; background-color: #fff; overflow-y: auto; display: none;}
#members .pop_bx .pop_con {position: relative; box-sizing: border-box; padding: 40px 15px 140px;}
#members .pop_bx .pop_con::before {content: ''; width: 100%; height: 1px; background-color: #f4c400; position: absolute; left: 0; top: 421px;}
#members .pop_bx .close {max-width: 1840px; width: 100%; margin: 0 auto; box-sizing: border-box;}
#members .pop_bx .close div {width: 28px; height: 28px; background: url(../images/icon/close1.png) no-repeat center; margin: 0 0 0 auto; font-size: 0; cursor: pointer;}
#members .pop_bx .con_bx {max-width: 946px; width: calc(100%); margin: 0 auto; box-sizing: border-box; position: relative; display: flex; flex-flow: wrap; padding: 33px 0 0; z-index: 1;}
#members .pop_bx .con_bx .bg_txt {width: 203px;}
#members .pop_bx .con_bx .bg_txt span {font-family: 'Montserrat', sans-serif; font-size: 180px; color: #000000; font-weight: 800; word-break: keep-all; line-height: 131px; opacity: 0.04; display: block; writing-mode: vertical-rl; white-space: nowrap; text-transform: uppercase;}
#members .pop_bx .info_bx {width: calc(100% - 203px); max-width: 504px; box-sizing: border-box; border-bottom: 1px solid #e4e4e4; padding-bottom: 52px;}
#members .pop_bx .info_bx .img_bx {position: relative; padding-bottom: 125.794%; box-shadow: 24px 24px 56px 0px rgba(16,18,19,0.08); margin-bottom: 62px;}
#members .pop_bx .info_bx .img_bx div {position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-size: cover!important; background-position: center!important; background-repeat: no-repeat!important;}
#members .pop_bx .info_bx .name {font-size: 20px; color: #333333; font-weight: 350; letter-spacing: -0.05em; word-break: keep-all;}
#members .pop_bx .info_bx .name p {font-size: 46px; color: #282828; margin-top: 1px;}
#members .pop_bx .info_bx .name p strong {font-weight: 700;}
#members .pop_bx .info_bx .tel {border-top: 3px solid #f4c400; border-bottom: 1px solid #f4c400; margin-top: 25px; padding: 26px 0 26px;}
#members .pop_bx .info_bx .tel li {font-family: 'Montserrat', sans-serif; position: relative; padding-left: 24px; font-size: 16px; color: #666666; word-break: keep-all; margin-bottom: 12px; min-height: 19px;}
#members .pop_bx .info_bx .tel li:last-child {margin-bottom: 0;}
#members .pop_bx .info_bx .tel li span {position: absolute; left: 0; top: 0; color: #f4a600; font-weight: 600;}
#members .pop_bx .info_bx .info {margin-top: 46px;}
#members .pop_bx .info_bx .info strong {display: block; font-size: 24px; color: #282828; font-weight: 500; letter-spacing: -0.05em; word-break: keep-all; margin-top: 30px;}
#members .pop_bx .info_bx .info strong:first-child {margin-top: 0;}
#members .pop_bx .info_bx .info ul {margin-top: 12px;}
#members .pop_bx .info_bx .info ul:first-child {margin-top: 0;}
#members .pop_bx .info_bx .info ul li {font-size: 16px; color: #666666; letter-spacing: -0.05em; word-break: keep-all; font-weight: 350; margin-bottom: 10px; text-indent: -9px; padding-left: 9px;}
#members .pop_bx .info_bx .info ul li:last-child {margin-bottom: 0;}
#members .pop_bx .info_bx .info ul li::before {content: '-'; margin-right: 5px;}
#members .pop_bx .btm_btn {display: block; margin: 50px auto 0; cursor: pointer; width: 160px; text-align: center; border: 1px solid #282828; border-radius: 35px; font-size: 18px; color: #282828; letter-spacing: -0.05em; word-break: keep-all; background-color: #fff;}
#members .pop_bx .btm_btn span {display: inline-block; line-height: 68px; padding-right: 30px; background: url(../images/icon/list.png) no-repeat right center; z-index: 2; position: relative;}



/* 오시는 길 */
#location .con_bx {max-width: 1200px; width: calc(100% - 30px); margin: 0 auto; box-sizing: border-box; font-size: 0; margin-top: -100px;}
#location .info_bx {width: 460px; box-sizing: border-box; background-color: #f4c400; padding: 57px 60px 71px; box-shadow: 0 0 46px 0px rgba(244,172,0,0.46); display: inline-block; overflow: hidden; z-index: 1; position: relative;}
#location .info_bx .bg_txt {position: absolute; overflow: hidden; bottom: 0; left: 0; height: 231px; white-space: nowrap; display: flex; animation: scrollText 15s infinite linear; font-size: 320px; color: #f2b900; font-weight: 800; word-break: keep-all; line-height: 244px;}
#location .info_bx .bg_txt span {padding-right: 50px;}
/*#location .info_bx .bg_txt span {font-size: 320px; color: #f2b900; font-weight: 800; word-break: keep-all; width: 890px; position: absolute; line-height: 244px; animation: leftMove3 10s linear infinite;}*/
/*@-webkit-keyframes leftMove3 {
	0% {
		left: 100%;
	}
	100% {
		left: -890px;
	}
}*/
#location .info_bx .addr {position: relative; z-index: 1; font-size: 20px; color: #111111; font-weight: 350; letter-spacing: -0.05em; word-break: keep-all;}
#location .info_bx .addr strong {display: block; font-size: 30px; line-height: 40px; color: #000000; font-weight: 500; margin-bottom: 16px;}
#location .info_bx ul {position: relative; z-index: 1; padding-top: 42px; margin-top: 38px;}
#location .info_bx ul::before {content: ''; width: 40px; height: 4px; background-color: #fff; position: absolute; top: 0; left: 0;}
#location .info_bx ul li {font-family: 'Montserrat', sans-serif; position: relative; padding-left: 70px; font-size: 16px; color: #111111; word-break: keep-all; margin-bottom: 14px; min-height: 19px;}
#location .info_bx ul li:last-child {margin-bottom: 0;}
#location .info_bx ul li span {position: absolute; left: 0; top: 0; font-weight: 600;}
#location .traffic_bx {width: calc(100% - 460px); box-sizing: border-box; padding: 174px 0 0 100px; display: inline-block; vertical-align: top;}
#location .traffic_bx .con_w {padding-left: 134px; position: relative; margin-bottom: 37px;}
#location .traffic_bx .con_w:last-child {margin-bottom: 0;}
#location .traffic_bx .con_w .ttl {position: absolute; left: 0; top: 0; padding-left: 11px; font-size: 16px; color: #282828; font-weight: 500; letter-spacing: -0.05em; word-break: keep-all;} 
#location .traffic_bx .con_w .ttl::before {content: ''; width: 4px; height: 4px; border-radius: 50%; background-color: #f4b200; position: absolute; left: 0; top: 10px;} 
#location .traffic_bx .con_w ul li {font-size: 16px; color: #666666; font-weight: 350; word-break: keep-all; padding-left: 76px; position: relative; margin-bottom: 3px; min-height: 28px; line-height: 28px;}
#location .traffic_bx .con_w ul li:last-child {margin-bottom: 0;}
#location .traffic_bx .con_w ul.type2 li {letter-spacing: -0.05em;}
#location .traffic_bx .con_w ul li span {position: absolute; left: 0; top: 0; font-weight: 400; letter-spacing: -0.05em; color: #333333;}
#location .traffic_bx .con_w ul.type2 li span {width: 68px; box-sizing: border-box; padding: 0 0 0 29px; line-height: 28px; border-radius: 14px; display: block; font-size: 16px; color: #ffffff; letter-spacing: -0.05em; font-weight: 500;}
#location .traffic_bx .con_w ul.type2 li span.col1 {background-color: #10aa18;}
#location .traffic_bx .con_w ul.type2 li span em {font-style: normal; display: inline-block; position: absolute; left: 3px; top: 3px; width: 22px; line-height: 22px; border-radius: 50%; background-color: #fff; text-align: center; font-weight: 700;}
#location .traffic_bx .con_w ul.type2 li span.col1 em {color: #10aa18;}
#location .traffic_bx .con_w ul.type2 li span.col2{width:80px; background:#de4552;padding: 0 0 0 50px; text-align: center;display:inline-block;position:relative;left:auto;top:auto;}
#location .traffic_bx .con_w ul.type2 li span.col2 em {color: #de4552;width: auto;border-radius: 100px;padding: 0 5px;}
#location .traffic_bx .con_w p {font-size: 15px; color: #666666; font-weight: 350; letter-spacing: -0.05em; word-break: keep-all; margin-top: 15px;}
#location .tab_bx2{text-align:center;margin-bottom:60px;}
#location .tab_bx2 button{background:#fff;border:2px solid #2d3942;color:#282828;font-size:18px;padding:15px 60px;transition:all ease 0.3s;}
#location .tab_bx2 button.active {font-weight: 600; background:#2d3942;color:#fff;}
#location .root_daum_roughmap .cont{display:none !important}


/* 분야별 소개 */
#areas .con_bx {display: flex; flex-flow: wrap; margin-bottom: -30px;}
#areas .con_bx .con_w {width: calc(33.333% - 20px); margin-right: 30px; margin-bottom: 30px; box-sizing: border-box; border: 1px solid #fff; background-color: #fff; box-shadow: 12px 12px 36px 0px rgba(71,86,98,0.08); border-radius: 10px; overflow: hidden; padding: 40px 50px 118px; position: relative; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}
#areas .con_bx .con_w:nth-child(3n) {margin-right: 0;}
#areas .con_bx .con_w.on, #areas .con_bx .con_w.on2 {border-color: #f4c400;}
#areas .con_bx .num {min-height: 58px;}
#areas .con_bx .num span {font-family: 'Montserrat', sans-serif; font-size: 22px; color: #b9b9b9; font-weight: 700; word-break: keep-all;}
#areas .con_bx .num img {float: right;}
#areas .con_bx strong {display: block; font-size: 24px; color: #282828; font-weight: 500; letter-spacing: -0.05em; word-break: keep-all;}
#areas .con_bx p {font-size: 16px; color: #666666; line-height: 30px; letter-spacing: -0.05em; word-break: keep-all; font-weight: 350;}
#areas .con_bx .pop_btn {position: absolute; left: 50px; bottom: 36px; cursor: pointer; padding: 0 30px; text-align: center; font-size: 16px; color: #282828; letter-spacing: -0.05em; box-sizing: border-box; height: 50px; display:flex; justify-content:center; align-items:center; table-layout:fixed;}
#areas .con_bx .pop_btn::before {content: ''; width: 23px; height: 23px; border-radius: 50%; background: url(../images/icon/arrow7.png) no-repeat right center #f4c400; position: absolute; left: 0; top: 50%; margin-top: -12px; z-index: 1; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}
#areas .con_bx .pop_btn span {display: inline-block; line-height: 21px; border-bottom: 1px solid #f4c400; box-sizing: border-box; position: relative; z-index: 2;}
#areas .con_bx .con_w.on2 .pop_btn::before {background-position: left center!important;}

#areas .pop_bx {position: fixed; box-sizing: border-box; width: 100%; height: 100%; top: 0; left: 0; z-index: 100000; background-color: rgba(0,0,0,0.5); overflow-y: auto; display: none;}
#areas .pop_bx .pop_w {display: table; width: 100%; height: 100%;}
#areas .pop_bx .pop_c {display: table-cell; vertical-align: middle; padding: 50px 0;}
#areas .pop_bx .pop_con_bx {max-width: 560px; width: calc(100% - 30px); margin: 0 auto; border-radius: 20px; overflow: hidden; display: none;}
#areas .pop_bx .pop_con_bx.on {display: block;}
#areas .pop_bx .ttl_bx {padding: 23px 40px 30px; text-align: center; background-color: #f4c400;}
#areas .pop_bx .ttl_bx .close_btn {margin: 0 0 0 auto; width: 19px; height: 19px; font-size: 0; background: url(../images/icon/close3.png) no-repeat center; cursor: pointer;}
#areas .pop_bx .ttl_bx strong {display: block; font-size: 32px; color: #000000; font-weight: 700; letter-spacing: -0.05em; word-break: keep-all;}
#areas .pop_bx .ttl_bx p {font-family: 'Montserrat', sans-serif; font-size: 15px; color: #000000; word-break: break-all; margin-top: 4px;}
#areas .pop_bx .txt_bx {padding: 29px 40px 40px; background-color: #fff;}
#areas .pop_bx .txt_bx .txt_w {position: relative; padding-bottom: 48px;}
#areas .pop_bx .txt_bx .txt_w::before {content: ''; width: 50%; height: 3px; background-color: #f4c400; position: absolute; bottom: 0; left: 0;}
#areas .pop_bx .txt_bx .txt_w::after {content: ''; width: 50%; height: 3px; background-color: #000000; position: absolute; bottom: 0; right: 0;}
#areas .pop_bx .txt_bx .txt_w:last-child {padding-bottom: 0;}
#areas .pop_bx .txt_bx .txt_w:last-child::before {display: none;}
#areas .pop_bx .txt_bx .txt_w:last-child::after {display: none;}
#areas .pop_bx .txt_bx strong {display: block; font-size: 22px; color: #282828; font-weight: 500; letter-spacing: -0.05em; word-break: keep-all;}
#areas .pop_bx .txt_bx p {font-size: 16px; color: #666666; line-height: 28px; letter-spacing: -0.05em; word-break: keep-all; margin-top: 8px;}
#areas .pop_bx .btn {width: 100%; margin: 20px auto 0; box-sizing: border-box; border: 2px solid #f4c400; display: block; text-align: center; font-size: 18px; color: #282828; font-weight: 500; letter-spacing: -0.05em; word-break: keep-all; position: relative; overflow: hidden; background-color: #f4c400;}
#areas .pop_bx .btn span {display: inline-block; line-height: 60px; position: relative; z-index: 2;}



/* 절차안내 */
#process .box1 .txt_bx {text-align: center; margin-bottom: 67px;}
#process .box1 .txt_bx .txt1 {font-size: 22px; color: #282828; font-weight: 350; letter-spacing: -0.05em; word-break: keep-all;}
#process .box1 .txt_bx .txt1 strong {display: inline-block; position: relative; color: #282828; font-weight: 700; z-index: 1;}
#process .box1 .txt_bx .txt1 strong::before {content: ''; width: 100%;  height: 10px; background-color: #fcedb2; position: absolute; bottom: 3px; left: 0; z-index: -1;}
#process .box1 .txt_bx .txt2 {font-size: 15px; color: #888888; font-weight: 350; letter-spacing: -0.05em; word-break: keep-all; margin-top: 14px;}
#process .box1 .con_bx {position: relative; padding-bottom: 117px;}
#process .box1 .con_bx::before {content: ''; width: 100%; height: 1px; background-color: #f4c400; position: absolute; left: 0; top: 24%;}
#process .box1 .con_bx ul {max-width: 1200px; width: calc(100% - 30px); margin: 0 auto; box-sizing: border-box; position: relative; z-index: 1; display: flex; flex-flow: wrap;}
#process .box1 .con_bx ul li {width: calc(16.666% - 25px); margin-right: 30px; box-sizing: border-box; text-align: center;}
#process .box1 .con_bx ul li:nth-child(6n) {margin-right: 0;}
#process .box1 .con_bx .icon {position: relative; padding-bottom: 97.72%; background-color: #fff; border: 2px solid #f4c400; box-sizing: border-box; border-radius: 50%;}
#process .box1 .con_bx .icon::before {content: ''; width: calc(100% - 16px); height: calc(100% - 16px); border-radius: 50%; background-color: #f9e17f; position: absolute; left: 8px; top: 8px;}
#process .box1 .con_bx .col2 .icon {box-shadow: 0px 0px 46px 0px rgba(244,172,0,0.46);}
#process .box1 .con_bx .col2 .icon::before {background-color: #f4c400;}
#process .box1 .con_bx .icon img {position: absolute; left: 50%; top: 50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); z-index: 1;}
#process .box1 .con_bx .icon span {position: absolute; width: 36px; line-height: 32px; box-sizing: border-box; border: 2px solid #f4c400; bottom: -16px; left: 50%; text-align: center; transform:translate(-50%, 0%); -webkit-transform:translate(-50%, 0%); border-radius: 50%; background-color: #fff; font-family: 'Montserrat', sans-serif; font-weight:800; color:#f49b00; }
#process .box1 .con_bx .txt {font-size: 18px; color: #282828; letter-spacing: -0.05em; word-break: keep-all; line-height: 24px; margin-top: 28px;}
#process .box1 .con_bx .txt span {display: block; font-size: 15px; color: #666666; font-weight: 350;}

#process .box2 {background-color: #f4f8fb; padding: 115px 0 60px;}
#process .box2 .con_bx {padding-top: 18px;}
#process .box2 .con_bx ul {display: flex; flex-flow: wrap;}
#process .box2 .con_bx li {width: calc(33.333% - 40px); margin-right: 60px; margin-bottom: 60px; box-sizing: border-box; text-align: center; background-color: #fff; border: 2px solid #2d3942; position: relative; min-height: 100px; display:flex; justify-content:center; align-items:center; table-layout:fixed; position: relative;}
#process .box2 .con_bx li.col2 {background-color: #2d3942; box-shadow: 0px 0px 46px 0px rgba(45,57,66,0.46);}
#process .box2 .con_bx li:nth-child(3n) {margin-right: 0;}
#process .box2 .con_bx li:nth-child(4) {order: 6; margin-right: 0;}
#process .box2 .con_bx li:nth-child(5) {order: 5;}
#process .box2 .con_bx li:nth-child(6) {order: 4; margin-right: 60px;}
#process .box2 .con_bx li::before {content: ''; width: 9px; height: 11px; background: url(../images/sub/process_box2_arrow.png) no-repeat center; position: absolute; top: 50%; margin-top: -5px; right: -35px;}
#process .box2 .con_bx li:nth-child(3)::before {right: auto; left: 50%; margin-left: -5px; transform: rotate(90deg); bottom: -30px; top: auto; margin-top: 0;}
#process .box2 .con_bx li:nth-child(4)::before {display: none;}
#process .box2 .con_bx li:nth-child(5)::before, #process .box2 .con_bx li:nth-child(6)::before {transform: rotate(180deg);}
#process .box2 .con_bx li .txt_bx {width: 100%;}
#process .box2 .con_bx li .txt_bx span {position: absolute; top: -18px; left: 50%; margin-left: -18px; width: 36px; line-height: 32px; border: 2px solid #2d3942; background-color: #2d3942; display: block; border-radius: 50%; box-sizing: border-box; color: #fff; text-align: center; font-family: 'Montserrat', sans-serif; font-size: 15px; color: #ffffff; font-weight: 800;}
#process .box2 .con_bx li.col2 .txt_bx span {color: #2d3942; background-color: #fff;}
#process .box2 .con_bx li .txt_bx p {font-size: 18px; color: #282828; letter-spacing: -0.05em; word-break: keep-all;}
#process .box2 .con_bx li.col2 .txt_bx p {color: #fff;}

#process .box3 {padding: 115px 0 0;}
#process .box3 .con_bx {max-width: 800px; box-sizing: border-box; margin: 0 auto;}
#process .box3 .con_bx .con_w {display: flex; flex-flow: wrap; justify-content:center; position: relative;}
#process .box3 .con_bx .con1 {padding-bottom: 22px;}
#process .box3 .con_bx .con1::before {content: ''; width: 1px; height: 22px; background-color: #ababab; position: absolute; left: 50%; bottom: 0;}
#process .box3 .con_bx .con2 {padding-top: 38px;}
#process .box3 .con_bx .con2::before {content: ''; width: 100%; height: 1px; background-color: #ababab; position: absolute; left: 0; top: 0;}
#process .box3 .con_bx .con_inner {width: calc(50% - 40px); margin-right: 80px; position: relative;}
#process .box3 .con_bx .con2 .con_inner::before {content: ''; width: 1px; height: 16px; background-color: #ababab; position: absolute; left: 50%; top: -38px;}
#process .box3 .con_bx .con2 .con_inner::after {content: ''; width: 50%; height: 1px; background-color: #fff; position: absolute; left: 0; top: -38px;}
#process .box3 .con_bx .con2 .con_inner:nth-child(2)::after {left: auto; right: 0; width: calc(50% - 1px);}
#process .box3 .con_bx .con_inner:nth-child(2n) {margin-right: 0;}
#process .box3 .con_bx .con_inner:last-child {margin-right: 0;}
#process .box3 .con_bx .con_inner > div {text-align: center; background-color: #fff; height: 80px; box-sizing: border-box; display:flex; justify-content:center; align-items:center; table-layout:fixed; border: 2px solid #625041; margin-bottom: 36px; font-size: 18px; color: #282828; letter-spacing: -0.05em; word-break: keep-all; position: relative;}
#process .box3 .con_bx .con_inner > div:last-child {margin-bottom: 0;}
#process .box3 .con_bx .con_inner.col2 > div {border-color: #333333;}
#process .box3 .con_bx .con_inner > .ttl {background-color: #625041; color: #fff; box-shadow: 0px 0px 46px 0px rgba(98,80,65,0.46);}
#process .box3 .con_bx .con_inner.col2 > .ttl {background-color: #333333; box-shadow: 0px 0px 46px 0px rgba(45,57,66,0.46);}
#process .box3 .con_bx .con_inner > div::before {content: ''; width: 11px; height: 9px; background: url(../images/sub/process_box3_arrow.png) no-repeat center; position: absolute; left: 50%; margin-left: -5px; top: -24px;}
#process .box3 .con_bx .con1 .con_inner > div:first-child::before {display: none;}



/* 후기 */
#review .tab_bx {margin: 0 auto 40px; max-width: 1160px; width: 100%;}
#review .tab_bx ul {font-size: 0; text-align: center; display: flex; flex-flow: wrap; justify-content:center;}
#review .tab_bx ul li {width: calc(20% - 16px); margin-right: 20px; box-sizing: border-box; margin-bottom: 20px;}
#review .tab_bx ul li:nth-child(5n) {margin-right: 0;}
#review .tab_bx ul li:last-child {margin-right: 0;}
#review .tab_bx ul li a {display: block; background-color: #f8f9fa; border-radius: 10px; padding: 50px 10px 49px; box-sizing: border-box; min-height: 258px; border: 1px solid #f8f9fa;}
#review .tab_bx .img {width: 96px; height: 96px; margin: 0 auto; border-radius: 50%; background-size: cover!important; background-repeat: no-repeat!important; background-position: center!important; position: relative;}
#review .tab_bx .img::before {content: ''; width: 12px; height: 12px; border-radius: 50%; position: absolute; right: 8px; bottom: 8px;}
#review .tab_bx li:nth-child(3n-1) .img:before {background-color: #f4c400;}
#review .tab_bx li:nth-child(3n-2) .img:before {background-color: #021421;}
#review .tab_bx li:nth-child(3n) .img:before {background-color: #a2b1bc;}
#review .tab_bx .name {font-size: 17px; color: #282828; letter-spacing: -0.05em; word-break: keep-all; font-weight: 500; margin-top: 18px;}
#review .tab_bx .name span {font-family: 'Montserrat', sans-serif; letter-spacing: 0; font-size: 12px; color: #888888; display: block; text-transform: uppercase; margin-top: 5px;}






/* PC */
@media all and (min-width:1025px){
	/* 구성원 소개 */
	#members .pop_bx .btm_btn {-webkit-transition: border 0.3s; -moz-transition: border 0.3s; transition: border 0.3s; position: relative; overflow: hidden;}
	#members .pop_bx .btm_btn:hover {border-color: #f4b200;}
	#members .pop_bx .btm_btn::before {content: ''; position: absolute; top: 0; left: -60px; width: 200%; height: 1000%; z-index: 1; background: #f4b200; transform-origin: 0 0; transform: translateY(10%) translateX(80%) rotate(-45deg); transition: transform .6s;}
	#members .pop_bx .btm_btn:hover::before {transform: translateX(0%) translateY(10%) rotate(-45deg);}
	
	
	/* 분야별 소개 */
	#areas .con_bx .pop_btn:hover::before {background-position: left center;}
	#areas .pop_bx .btn::before {content: ''; position: absolute; top: 0; left: -60px; width: 200%; height: 1000%; z-index: 1; background: #fff; transform-origin: 0 0; transform: translateY(10%) translateX(80%) rotate(-45deg); transition: transform .6s;}
	#areas .pop_bx .btn:hover::before {transform: translateX(0%) translateY(10%) rotate(-45deg);}
	
	
	
	/* 후기 */
	#review .tab_bx ul li a .img {-webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;}
	#review .tab_bx ul li a:hover .img {transform: translate(0, -10px);}
	
	
}

/* 태블릿&모바일 공통*/
@media all and (max-width:1024px){
	/* 공통 */
	#sub .box1 {padding-top: 58px;}
	#sub .box:last-child {padding-bottom: 75px}
	
	#sub .ttl_01 {margin-bottom: 40px;}
	#sub .ttl_01 strong span {margin-bottom: 6px; font-size: 12px; line-height: 14px;}
	#sub .ttl_01 strong p {font-size: 25px; line-height: 33px;}
	
	
	
	/* 글로리 소개 */
	#intro .box1 {padding-bottom: 65px;}
	#intro .box1 .txt1 {margin-bottom: 36px; font-size: 19px; line-height: 27px;}
	#intro .box1 .txt1 span::before {height: 8px; bottom: 1px;}
	#intro .box1 .con_bx {background-size: 176px auto;}
	#intro .box1 .con_bx .img_bx {width: calc(50% - 20px); margin-right: 40px;}
	#intro .box1 .con_bx .txt_bx {width: calc(50% - 20px);}
	#intro .box1 .con_bx .txt_bx p {margin-top: 31px; font-size: 12px; line-height: 20px;}
	#intro .box1 .con_bx .txt_bx p.btm_txt {margin-top: 20px; font-size: 13px;}
	#intro .box1 .con_bx .txt_bx p.btm_txt img {margin-left: 10px; max-width: 48px;}
	
	#intro .box2 {padding: 56px 0 60px!important;}
	#intro .box2 .bg_txt {font-size: 50px; line-height: 55px; height: 55px; bottom: -11px;}
	#intro .box2 .bg_txt span.m_bx {display: block;}
	#intro .box2 .txt_bx strong {margin-bottom: 8px; font-size: 36px; line-height: 44px;}
	#intro .box2 .txt_bx p {font-size: 13px; line-height: 21px; max-width: 340px; margin: 0 auto;}
	
	#intro .box3 {padding: 58px 0 71px!important;}
	#intro .box3 .con_bx {border-top: 1px solid #111;}
	#intro .box3 .con_bx .con_w {padding: 24px 0 26px;}
	#intro .box3 .con_bx .con_w .ttl {width: 190px; padding-right: 20px;}
	#intro .box3 .con_bx .con_w .ttl strong {font-size: 20px;}
	#intro .box3 .con_bx .con_w .ttl p {margin-top: 3px; font-size: 12px;}
	#intro .box3 .con_bx .con_w .txt_bx {width: calc(100% - 190px);}
	#intro .box3 .con_bx .con_w .txt_bx p {margin-bottom: 8px; font-size: 12px; line-height: 20px;}
	
	
	
	/* 글로리 특별함 */
	#speciality .box1 {padding-bottom: 71px;}
	#speciality .box1 .bg {height: calc(100% - 315px); background: url(../images/sub/speciality_box1_bg1_m.jpg) no-repeat center; background-size: cover;}
	#speciality .box1 .txt_bx1_w::before {height: 60px; bottom: -38px;}
	#speciality .box1 .txt_bx1 {height: 320px;}
	#speciality .box1 .txt_bx1 .txt_w {padding: 0 15px;}
	#speciality .box1 .txt_bx1 .txt_w strong {margin-bottom: 10px; font-size: 30px; line-height: 38px;}
	#speciality .box1 .txt_bx1 .txt_w .txt1 {margin-bottom: 12px; font-size: 17px; line-height: 25px;}
	#speciality .box1 .txt_bx1 .txt_w .txt2 {font-size: 13px; line-height: 21px;}
	#speciality .box1 .txt_bx1 .bt_txt {font-size: 160px; line-height: 160px; height: auto; bottom: -23px;}
	#speciality .box1 .txt_bx2 {padding-top: 53px;}
	#speciality .box1 .txt_bx2 ul li {font-size: 12px; line-height: 20px; margin-bottom: 8px; padding-left: 9px;}
	#speciality .box1 .txt_bx2 ul li::before {width: 3px; height: 3px; top: 9px;}
	#speciality .box1 .txt_bx2 p {margin-top: 17px; font-size: 12px; line-height: 20px;}
	
	#speciality .box2 {padding-top: 55px}
	#speciality .box2 .con_bx {border-top: 1px solid #111;}
	#speciality .box2 .con_bx .icon_bx {background-size: 65px auto!important; width: 100px; height: 100px;}
	#speciality .box2 .con_bx .txt_bx {min-height: 100px; width: calc(100% - 140px);}
	#speciality .box2 .con_bx .txt_bx .txt_w strong {font-size: 18px;}
	#speciality .box2 .con_bx .txt_bx .txt_w p {margin-top: 8px; font-size: 12px; line-height: 20px;}
	
	
	
	
	/* 구성원 소개 */
	#members .pop_bx .pop_con {padding: 17px 15px 75px;}
	#members .pop_bx .pop_con::before  {top: 314px;}
	#members .pop_bx .close div {width: 16px; height: 16px; background-size: 16px auto;}
	#members .pop_bx .con_bx {max-width: 680px; padding: 17px 0 0;}
	#members .pop_bx .con_bx .bg_txt {width: 130px;}
	#members .pop_bx .con_bx .bg_txt span {font-size: 90px; line-height: 65px;}
	#members .pop_bx .info_bx {max-width: 420px; width: calc(100% - 130px);}
	
	#members .pop_bx .info_bx .img_bx { box-shadow: 12px 12px 28px 0px rgba(16,18,19,0.08); margin-bottom: 40px;}
	#members .pop_bx .info_bx .name {font-size: 14px; }
	#members .pop_bx .info_bx .name p {font-size: 27px;}
	#members .pop_bx .info_bx .tel {border-top: 2px solid #f4c400; margin-top: 12px; padding:10px 0 13px;}
	#members .pop_bx .info_bx .tel li { padding-left: 16px; font-size: 12px; margin-bottom: 2px; min-height: 17px;}
	#members .pop_bx .info_bx .info {margin-top: 23px;}
	#members .pop_bx .info_bx .info strong { font-size: 16px; margin-top: 21px;}
	#members .pop_bx .info_bx .info ul {margin-top: 7px;}
	#members .pop_bx .info_bx .info ul li {font-size: 12px; margin-bottom: 5px; text-indent: -8px; padding-left: 8px;}
	#members .pop_bx .info_bx .info ul li::before { margin-right: 4px;}
	#members .pop_bx .btm_btn { margin: 30px auto 0; width: 100px;  border-radius: 20px; font-size: 13px; background:#fff; }
	#members .pop_bx .btm_btn span { line-height: 38px; padding-right: 20px; background-size:8px auto; }

	
	
	/* 오시는 길 */
	#location .con_bx { 0; margin-top: -40px;}
	#location .root_daum_roughmap_landing,#location .wrap_map{ height:240px !important; }
	#location .info_bx {width: 300px; padding: 30px 30px 35px; box-shadow: 0 0 23px 0px rgba(244,172,0,0.46); }
	#location .info_bx .bg_txt { height: 190px; font-size: 190px; line-height: 190px; bottom: -25px;}
	#location .info_bx .bg_txt span {padding-right: 20px;}
	#location .info_bx .addr { font-size: 14px; }
	#location .info_bx .addr strong { font-size: 19px; line-height: 27px; margin-bottom: 8px;}
	#location .info_bx ul { padding-top: 23px; margin-top: 20px;}
	#location .info_bx ul::before { width: 20px; height:2px; }
	#location .info_bx ul li { padding-left:42px; font-size: 12px;  margin-bottom: 0; min-height: 20px;}
	#location .traffic_bx {width: calc(100% - 300px); padding: 70px 0 0 55px; }
	#location .traffic_bx .con_w {padding-left: 0; position: relative; margin-bottom: 15px;}
	#location .traffic_bx .con_w .ttl {position: relative; left: auto; top: auto; display:block; margin-bottom:5px; padding-left: 8px; font-size: 12px; } 
	#location .traffic_bx .con_w .ttl::before { width: 3px; height: 3px; top: 8px;} 
	#location .traffic_bx .con_w ul li { font-size: 12px; padding-left: 56px; margin-bottom: 10px; min-height: 24px; line-height: 24px;}
	#location .traffic_bx .con_w ul.type2 { margin-top:11px; }
	#location .traffic_bx .con_w ul.type2 li span { width: 50px; padding: 0 0 0 23px; line-height: 24px; border-radius: 14px; font-size: 12px; }
	#location .traffic_bx .con_w ul.type2 li span em { left: 4px; top: 4px; width: 16px; line-height: 16px; }
	#location .traffic_bx .con_w p {font-size: 12px; margin-top: 8px;}
	#location .traffic_bx .con_w ul.type2 li span.col2{width:63px;padding:0 0 0 40px;}
	#location .tab_bx2{margin-bottom:30px;}
	#location .tab_bx2 button{font-size:14px;padding:10px 40px;}


	

	/* 분야별 소개 */
	#areas .pop_bx .pop_con_bx {border-radius: 10px; max-width: 420px;}
	#areas .pop_bx .ttl_bx {padding: 15px 20px}
	#areas .pop_bx .ttl_bx strong {font-size: 20px;}
	#areas .pop_bx .ttl_bx p {font-size: 12px; margin-top: 5px;}
	#areas .pop_bx .txt_bx {padding: 20px 20px;}
	#areas .pop_bx .txt_bx .txt_w {padding-bottom: 25px;}
	#areas .pop_bx .txt_bx .txt_w::before {height: 2px;}
	#areas .pop_bx .txt_bx .txt_w::after {height: 2px;}
	#areas .pop_bx .txt_bx strong {font-size: 14px;}
	#areas .pop_bx .txt_bx p {font-size: 12px; line-height: 20px; margin-top: 4px;}
	#areas .pop_bx .btn {margin-top: 15px; font-size: 12px;}
	#areas .pop_bx .btn span {line-height: 38px;}

	#areas .con_bx { margin-bottom: -10px;}
	#areas .con_bx .con_w {width: calc(33.333% - 7px); margin-right: 10px; margin-bottom: 10px; box-shadow: 6px 6px 18px 0px rgba(71,86,98,0.08); border-radius: 5px; padding: 20px 20px 60px; }
	#areas .con_bx .con_w:nth-child(3n) {margin-right: 0;}
	#areas .con_bx .num { min-height: 37px;}
	#areas .con_bx .num span { font-size: 15px; }
	#areas .con_bx strong { margin-bottom:8px; font-size:16px; }
	#areas .con_bx p {font-size: 12px; line-height: 20px; }
	#areas .con_bx .pop_btn { left: 20px; bottom: 20px; padding: 0 20px; font-size: 12px; height: 16px; }
	#areas .con_bx .pop_btn::before { width: 16px; height: 16px; background-size:32px auto; margin-top: -8px;}
	#areas .con_bx .pop_btn span { line-height: 21px;}

	#areas .con_bx .con_w:nth-child(1) .num img{ width:28px; }
	#areas .con_bx .con_w:nth-child(2) .num img{ width:27px; }
	#areas .con_bx .con_w:nth-child(3) .num img{ width:29px; }
	#areas .con_bx .con_w:nth-child(4) .num img{ width:29px; }
	#areas .con_bx .con_w:nth-child(5) .num img{ width:29px; }
	#areas .con_bx .con_w:nth-child(6) .num img{ width:28px; }
	#areas .con_bx .con_w:nth-child(7) .num img{ width:24px; }
	#areas .con_bx .con_w:nth-child(8) .num img{ width:27px; }
	#areas .con_bx .con_w:nth-child(9) .num img{ width:25px; }
	#areas .con_bx .con_w:nth-child(10) .num img{ width:25px; }
	#areas .con_bx .con_w:nth-child(11) .num img{ width:28px; }
	#areas .con_bx .con_w:nth-child(12) .num img{ width:29px; }
	#areas .con_bx .con_w:nth-child(13) .num img{ width:27px; }
	
	/* 절차안내 */
	#process .box1 .txt_bx { margin-bottom: 35px;}
	#process .box1 .txt_bx .txt1 {font-size: 15px; }
	#process .box1 .txt_bx .txt1 strong::before { height: 5px; bottom: 3px; }
	#process .box1 .txt_bx .txt2 { font-size: 12px; margin-top: 10px; }
	#process .box1 .con_bx { padding-bottom: 60px;}
	#process .box1 .con_bx::before { top: 26%;}
	#process .box1 .con_bx ul li {width: calc(16.666% - 21px); margin-right: 25px; }
	#process .box1 .con_bx .icon { border: 1px solid #f4c400; }
	#process .box1 .con_bx .icon::before { width: calc(100% - 10px); height: calc(100% - 10px); left: 5px; top: 5px;}
	#process .box1 .con_bx .col2 .icon {box-shadow: 0px 0px 23px 0px rgba(244,172,0,0.46);}
	#process .box1 .con_bx .icon span { width: 24px; line-height: 22px; border: 1px solid #f4c400; bottom: -11px; font-size:11px; }
	#process .box1 .con_bx .txt {font-size: 12px;  line-height: 20px; margin-top: 15px;}
	#process .box1 .con_bx .txt span { font-size: 11px; }

	#process .box1 .con_bx li:nth-child(1) .icon img{ width:31px; }
	#process .box1 .con_bx li:nth-child(2) .icon img{ width:34px; }
	#process .box1 .con_bx li:nth-child(3) .icon img{ width:31px; }
	#process .box1 .con_bx li:nth-child(4) .icon img{ width:33px; }
	#process .box1 .con_bx li:nth-child(5) .icon img{ width:33px; }
	#process .box1 .con_bx li:nth-child(6) .icon img{ width:33px; }

	#process .box2 { padding: 60px 0 65px;}
	#process .box2 .con_bx {padding-top: 2px;}
	#process .box2 .con_bx ul{ margin:0 auto; max-width:800px;}
	#process .box2 .con_bx li {width: calc(50% - 5px); margin-right: 10px; margin-bottom: 30px; border: 1px solid #2d3942; min-height: 60px; }
	#process .box2 .con_bx li.col2 { box-shadow: 0px 0px 23px 0px rgba(45,57,66,0.46);}
	#process .box2 .con_bx li:nth-child(2) {margin-right: 0;}
	#process .box2 .con_bx li:nth-child(3) {order: 4; margin-right: 0;}
	#process .box2 .con_bx li:nth-child(4) {order: 3; margin-right: 10px;}
	#process .box2 .con_bx li:nth-child(5) {order: 5;}
	#process .box2 .con_bx li:nth-child(6) {order: 6; margin-right: 0;}
	#process .box2 .con_bx li::before { width: 6px; height: 5px; background-size:cover; margin-top: -3px; right: -10px;}
	#process .box2 .con_bx li:nth-child(2)::before{ right:Auto; left:50%; margin-left:-3px; top:calc(100% + 12px); transform: rotate(90deg); }
	#process .box2 .con_bx li:nth-child(3)::before { right: auto; left: -9px; margin-left: 0; transform: rotate(180deg); bottom: auto; top: 50%; margin-top: -3px;}
	#process .box2 .con_bx li:nth-child(4)::before {display: block;right:Auto; left:50%; margin-left:-3px; top:calc(100% + 12px); transform: rotate(90deg);  }
	#process .box2 .con_bx li:nth-child(5)::before {transform: rotate(0deg);}
	#process .box2 .con_bx li:nth-child(6)::before { display:none; }
	#process .box2 .con_bx li .txt_bx span { top: -12px; margin-left: -12px; width: 24px; line-height: 22px; border: 1px solid #2d3942; font-size:11px; }
	#process .box2 .con_bx li .txt_bx p {font-size: 13px; }

	#process .box3 {padding: 60px 0 0;}
	#process .box3 .con_bx .con1 {padding-bottom: 10px;}
	#process .box3 .con_bx .con1::before { height: 10px; }
	#process .box3 .con_bx .con2 {padding-top: 20px;}
	#process .box3 .con_bx .con_inner {width: calc(50% - 5px); margin-right: 10px; }
	#process .box3 .con_bx .con1 .con_inner{ width:calc(70% - 5px)}
	#process .box3 .con_bx .con2 .con_inner::before { margin-left:0; height: 10px; top: -19px;}
	#process .box3 .con_bx .con2 .con_inner::after { top: -20px;}
	#process .box3 .con_bx .con_inner > div { height: 40px; border: 1px solid #625041; margin-bottom: 18px; font-size: 12px; }
	#process .box3 .con_bx .con_inner > .ttl { box-shadow: 0px 0px 23px 0px rgba(98,80,65,0.46);}
	#process .box3 .con_bx .con_inner.col2 > .ttl { box-shadow: 0px 0px 23px 0px rgba(45,57,66,0.46);}
	#process .box3 .con_bx .con_inner > div::before { width: 6px; height: 5px; background-size:cover; margin-left: -3px; top: -12px;}
	#process .box3 .con_bx .con1 .con_inner > div:first-child::before {display: none;}


	/* 후기 */
	#review .tab_bx {margin: 0 auto 25px; }
	#review .tab_bx ul li {width: calc(25% - 10px); margin-right: 10px; margin-bottom: 10px;}
	#review .tab_bx ul li a { border-radius: 4px; padding: 20px 10px 17px; min-height: 129px; }
	#review .tab_bx .img {width: 48px; height: 48px; }
	#review .tab_bx .img::before { width: 6px; height: 6px; right: 3px; bottom: 3px;}
	#review .tab_bx .name {font-size: 13px; margin-top:9px;}
	#review .tab_bx .name span { font-size: 11px; margin-top: 3px;}


}

/* 모바일 */
@media all and (max-width:768px){
	/* 글로리 소개 */
	#intro .box1 .con_bx .img_bx {width: 100%; margin-right: 0; margin-bottom: 25px;}
	#intro .box1 .con_bx .txt_bx {width: 100%;}
	
	#intro .box2 .bg {background: url(../images/sub/intro_box2_bg_m.jpg) no-repeat center; background-size: cover;}
	
	#intro .box3 .con_bx .con_w .ttl {width: 100%; padding-right: 0; margin-bottom: 10px;}
	#intro .box3 .con_bx .con_w .txt_bx {width: 100%;}
	
	
	
	/* 글로리 특별함 */
	#speciality .box1 .txt_bx2 ul li {padding-left: 0;}
	#speciality .box1 .txt_bx2 ul li::before {display: none;}
	
	#speciality .box2 .con_bx .con_w {display: block;}
	#speciality .box2 .con_bx .icon_bx {margin-bottom: 14px; width: 75px; height: 75px; background-size: 55px auto!important;}
	#speciality .box2 .con_bx .txt_bx {width: 100%; min-height: auto;}
	
	
	
	/* 구성원 소개 */
	#members .pop_bx .pop_con::before {display: none;}
	#members .pop_bx .con_bx {max-width: 100%;}
	#members .pop_bx .con_bx .bg_txt {display: none;}
	#members .pop_bx .info_bx {max-width: 100%; width: 100%;}



	/* 오시는 길 */
	#location .info_bx {width: 100%; }
	#location .traffic_bx {width: 100%; padding: 25px 0 0; }
	#location .traffic_bx .con_w ul.type1 li{ padding-left:0; line-height:20px; margin-bottom:6px;}
	#location .traffic_bx .con_w ul.type1 li:last-child{ margin-bottom:0; }
	#location .traffic_bx .con_w ul.type1 li span{ position:relative; left:auto; top:auto; display:block; }

	
	/* 후기 */
	#review .tab_bx ul{ justify-content: flex-start; }
	#review .tab_bx ul li {width: calc(50% - 5px); }
	#review .tab_bx ul li:nth-child(2n){ margin-right:0; }


	/* 분야별 소개 */
	#areas .con_bx .con_w {width: 100%; margin-right:0; }

	/* 절차안내 */
	#process .box1 .con_bx::before{ display:none; }
	#process .box1 .con_bx ul{ margin:0 auto; max-width:350px; padding:0 30px;}
	#process .box1 .con_bx ul li {width: calc(50% - 13px); margin-right: 25px; margin-bottom:20px; }
	#process .box1 .con_bx ul li:nth-child(2n){ margin-right:0; }

}